.center-container {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: calc(100vh - 250px);
  width: 100%;
}

.flex-container {
  background: #484444;
  color: whitesmoke;
  padding: 16px 36px;
  border-radius: 4px;
}
button {
  width: 100%;
}

button:not([disabled]) {
  background-color: #70f4ac;
}
mat-form-field {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
}
h1 {
  font-weight: 500;
}
