<div class="center-container">
    <div class="flex-container">
        <h1>Create Movie</h1>
        <form [formGroup]="movieForm">
            <mat-form-field>
                <mat-label>Movie name</mat-label>
                <input matInput placeholder="super cool movie" formControlName="name" required>
                <mat-error *ngIf="movieForm.get('name')?.errors?.['required']">Name is required field</mat-error>
                <mat-error
                    *ngIf="movieForm.get('name')?.invalid">{{movieForm.get('name')?.getError('custom')}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Lincesing type</mat-label>
                <mat-select formControlName="licensingType" matNativeControl required>
                    <mat-option [value]="0">Two day</mat-option>
                    <mat-option [value]="1">Lifelong</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <button mat-raised-button color="accent" (click)="handleSubmit()">
            {{movieId ? "Update movie" : "Create movie"}}
        </button>
    </div>
</div>