.flex-link-container {
  display: flex;
  gap: 12px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 1124px;
}

.button-link {
  width: 120px;
  height: 48px;
  font-size: large;
}
.toolbar {
  box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.6);
  height: 96px;
}
