.flex-container > * {
  margin: 36px 0 0 24px;
}

.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -12px 0 0 -12px;
  width: calc(100% + 12px);
}
.card {
  max-width: calc(33% - 69px);
  min-width: calc(33% - 69px);
  min-height: 390px;
  border-radius: 4px;
  height: 50px;
  background-color: #212121;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 36px;
  padding-bottom: 36px;
}
.card-image {
  min-width: 100%;
  border-radius: 4px;
  height: 260px;
  margin-bottom: 16px;
  background-color: white;
}
.card-content {
  color: white;
  font-size: large;
  text-align: center;
}
