.flex-container > * {
  margin: 36px 0 0 24px;
}

.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -12px 0 0 -12px;
  width: calc(100% + 12px);
}
.card {
  max-width: calc(33% - 69px);
  min-width: calc(33% - 69px);
  min-height: 390px;
  border-radius: 4px;
  height: auto;
  background-color: #484444;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 36px;
  padding-bottom: 36px;
}
.card-image {
  min-width: 100%;
  border-radius: 4px;
  height: 260px;
  margin-bottom: 16px;
  background-color: white;
}
.card-content {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: large;
  text-align: center;
  gap: 16px;
}
button {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: large;
}

.button-link {
  width: 250px;
  color: aquamarine !important;
  background-color: #282424;
}

h1 {
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: 10px;
}
.movie-control-container {
  display: flex;
  justify-content: space-between;
}
