.footer-content {
  display: flex;
  align-items: center;
  margin-top: 16px;
  font-size: x-large;
}
.footer-container {
  width: 100%;
  height: 64px;
  background-color: #212121;
  z-index: 10;
}
.footer-inner-container {
  color: #70f4ac;
  display: flex;
  justify-content: center;
}
