button {
  width: 100%;
}
.dialog {
  width: 300px;
}
mat-form-field {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
}
::ng-deep .mat-focused .mat-form-field-label {
  color: #70f4ac !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #70f4ac !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #70f4ac !important;
}
