<h1 mat-dialog-title>Edit customer</h1>
<div mat-dialog-content class="dialog">
    <form [formGroup]="customerForm">
        <mat-form-field>
            <mat-label>Enter email</mat-label>
            <input matInput placeholder="email@example.com" formControlName="email" required>
            <mat-error *ngIf="customerForm.get('email')?.invalid"></mat-error>
        </mat-form-field>
    </form>
    <div mat-dialog-actions>
        <button mat-raised-button color="accent" [disabled]="customerForm.invalid"
            (click)="updateCustomer()">Update</button>
    </div>
</div>